<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.board.model.dao.BoardDao">
  <select id="totalCount" resultType="int">
  	select count(*) from board_tbl where board_status = 1
   </select>
   
   <select id="selectBoardList" resultType="board">
   		select * from
    (select rownum as rnum, b. *
        from
            (select
            	board_no,
                board_title,
            	board_thumb,
            	board_writer,
            	board_date
            from board_tbl where board_status = 1 order by board_no desc)b) 
        where rnum between #{start} and #{end}
   </select>
   
   <select id="getBoardNo" resultType="int">
   		select board_seq.nextval from dual
   </select>
   
   <insert id="insertBoard">
   		insert into board_tbl 
   		values(#{boardNo}, #{boardTitle}, #{boardThumb}, #{boardWriter},#{boardContent}, to_char(sysdate, 'yyyy-mm-dd'), 1)
   </insert>
   
   <insert id="insertBoardFile">
   		insert into board_file_tbl
   		values(board_file_seq.nextval, #{boardNo},#{filename},#{filepath})
   </insert>
   
   <select id="selectOneBoard" resultType="board">
   		select * from board_tbl where board_no = #{boardNo}
   </select>
   
   <select id="selectBoardFileList" resultType="boardFile">
   		select * from board_file_tbl where board_no = #{boardNo}
   </select>
   
   <delete id="deleteBoard"><!-- 캐스캐이드 옵션으로 여기 지우면 파일도 같이 지워짐 -->
   		delete from board_tbl where board_no = #{boardNo}
   </delete>
   
   <update id="updateBoard">
   		update board_tbl set
   			board_title=#{boardTitle}, board_thumb = #{boardThumb}, board_content = #{boardContent}
   		where board_no = #{boardNo}
   </update>
   
   <select id="selectDeleteBoardFileList" resultType="boardFile">
   		select * from board_file_tbl
   		where board_file_no in
   		<foreach collection="array" item="boardFileNo" open="(" close=")" separator=",">
   			#{boardFileNo}
   		</foreach>
   </select>
   
   <delete id="deleteBoardFile">
   		delete from board_file_tbl
   		where board_file_no in
   		<foreach collection="array" item="boardFileNo" open="(" close=")" separator=",">
   			#{boardFileNo}
   		</foreach>
   </delete>
   
   <select id="adminTotalCount" resultType="int">
   		select count(*) from board_tbl
   </select>
   
   <select id="adminSelectBoardList" resultType="board">
   		select * from
    (select rownum as rnum, b. *
        from
            (select
            	board_no,
                board_title,
            	board_writer,
            	board_date,
            	board_status
            from board_tbl order by board_no desc)b) 
        where rnum between #{start} and #{end}
   </select>
   
   <update id="adminBoardUpdate">
   		update board_tbl set
   			board_status = #{boardStatus}
   		where board_no = #{boardNo}
   </update>
</mapper>
