<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.member.model.dao.MemberDao">
	<insert id="insertMember">
		insert into member_tbl values
		(#{memberId}, #{memberPw}, #{memberName},#{memberPhone},2)
	</insert>
	
	<select id="exists" resultType="int">
		select count(*) from member_tbl where member_id = #{memberId}
	</select>
	
	<select id="selectOneMember" resultType="member">
		select * from member_tbl 
		where member_id =#{memberId}
	</select>
	
	<update id="updateMember">
		update member_tbl set
		 	member_name = #{memberName},
		 	member_phone = #{memberPhone}
		where member_id = #{memberId} 
	</update>
	
	<delete id="deleteMember">
		delete from member_tbl where member_id =#{memberId}
	</delete>
	
	<update id="changePw">
		update member_tbl set member_pw =#{memberPw}
		where member_id = #{memberId}
	</update>
	
	<select id="totalCount" resultType="int">
		select count(*) from member_tbl
	</select>
	
	<select id="selectMemberList" resultType="member">
		select * from
			(select rownum as rnum, m.* from
				(select
					member_id,
					member_name,
					member_phone,
					member_type
				from member_tbl order by member_id)m)
		where rnum between #{start} and #{end}
	</select>
	
	<update id="updateMemberType">
		update member_tbl 
			set member_type = #{memberType}
		where member_id = #{memberId}
	</update>
</mapper>
